html,
body,
.sidebar-main-container,
.sidebar-cover
{
	height: 100%;
}

.big-main-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-main-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.sidebar-cover {
	position: relative;
	left: 0;
	top:0;
	height: 100%;
	z-index: 198;
	perspective: 1000px;
	transition: transform 0.5s;
}

.sidebar-cover::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.sidebar-nav-open .sidebar-cover::after{
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s;
}

.sidebar-nav {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 200; 
    visibility: visible;
    width: 225px;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(44, 46, 61) 0%, rgb(44, 46, 61) 70%);
    transition: all 0.5s;
    transform: translate3d(-100%, 0, 0);
}

.slide-sidebar-nav {
    position: relative;
    top: 0;
}

.sidebar-nav-open .sidebar-nav {
	visibility: visible;
	transform: translate3d(0, 0, 0);
}

@media (max-width: 991.98px) {

    .sidebar-main-container {
        flex-direction: column;
    }
    /*
    this will occur after slide in too late

    .sidebar-nav-open .sidebar-cover {
        z-index: 299;
    }
    .sidebar-nav-open .sidebar-nav {
        z-index: 301;
    }
    */

}

/*

.sidebar-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #000000;
	transition: all 0.5s;
}
.slide-in.sidebar-nav {
	visibility: visible;
	transform: translate3d(-100%, 0, 0);
}
.slide-in.sidebar-nav-open .slide-in.sidebar-nav {
	visibility: visible;
	transform: translate3d(0, 0, 0);
}
.slide-in.sidebar-nav::after {
	display: none;
}
.sidebar-nav {
	visibility: visible;
	transform: translate3d(-100%, 0, 0);
}
.sidebar-nav::after {
	display: none;
}
*/

