@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;

}

.top-row {
    height: 3.5rem;

}
.top-row-blank {
    height: 3.5rem;

}

.top-rowx {
    height: 3.5rem;
}

.top-rowx {
    background-color: #F8F9FB;
    border-bottom: 1px solid #d6d5d5;
    z-index: 2;
    display: block;
    position: sticky;
    top: 0;
}

    .top-rowx .navbar {
        height: 3.5rem;
        border-bottom: 1px solid #d6d5d5;
    }

        .top-rowx .navbar .navbar-collapse .navbar-nav .action {
            vertical-align: middle;
        }

        .top-rowx .navbar .navbar-collapse .navbar-nav .nav-item .bell {
            vertical-align: middle;
            margin-top: 8px
        }

        .top-rowx .navbar .navbar-nav .nav-item .flag {
            vertical-align: middle;
            margin-top: 2px
        }

        .top-rowx .navbar .navbar-nav .nav-item .user {
            vertical-align: middle
        }

.top-rowx-blank {
    background-color: #F8F9FB;
    border-bottom: 1px solid #d6d5d5;
    z-index: 2;
    display: none;
    position: sticky;
    top: 0;
}

    .top-rowx-blank .navbar {
        height: 3.5rem;
        border-bottom: 1px solid #d6d5d5;
    }

        .top-rowx-blank .navbar .navbar-collapse .navbar-nav .nav-item .bell {
            vertical-align: middle;
            margin-top: 8px
        }

        .top-rowx-blank .navbar .navbar-nav .nav-item .flag {
            vertical-align: middle;
            margin-top: 2px
        }

        .top-rowx-blank .navbar .navbar-nav .nav-item .user {
            vertical-align: middle
        }



.main {
    flex: 1;
}

    .main .top-row {
        background-color: #F8F9FB;
        border-bottom: 1px solid #d6d5d5;        
        z-index: 199;      
        display: block;
        position:sticky;
        top:0;
    }
        .main .top-row .navbar {
            height: 3.5rem;
            border-bottom: 1px solid #d6d5d5;
        }
            .main .top-row .navbar .navbar-collapse .navbar-nav .action {
                vertical-align: middle;
            }

            .main .top-row .navbar .navbar-collapse .navbar-nav .nav-item .bell {
                vertical-align: middle;
                margin-top: 8px
            }

            .main .top-row .navbar .navbar-nav .nav-item .flag {
                vertical-align: middle;
                margin-top: 2px
            }

            .main .top-row .navbar .navbar-nav .nav-item .user {
                vertical-align: middle
            }

    .main .top-row-blank .navbar .navbar-collapse .navbar-nav .action {
        vertical-align: middle;
    }

    .main .top-row-blank {
        background-color: #F8F9FB;
        border-bottom: 1px solid #d6d5d5;
        z-index: 199;
        display: none;
        position: sticky;
        top: 0;
    }

        .main .top-row-blank .navbar {
            height: 3.5rem;
            border-bottom: 1px solid #d6d5d5;
        }

            .main .top-row-blank .navbar .navbar-collapse .navbar-nav .nav-item .bell {
                vertical-align: middle;
                margin-top: 8px
            }

            .main .top-row-blank .navbar .navbar-nav .nav-item .flag {
                vertical-align: middle;
                margin-top: 2px
            }

            .main .top-row-blank .navbar .navbar-nav .nav-item .user {
                vertical-align: middle
            }


.sidebar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(180deg, rgb(44, 46, 61) 0%, rgb(44, 46, 61) 70%);

}

    .sidebar .top-row {
        background-color: rgb(40, 41, 59);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }


.sidebar-nav-open .ind .top-row {
    background-color: rgb(40, 41, 59);
}

.sidebar-nav-open .ind .navbar-brand {
    font-size: 1.1rem;
}

.sidebar-nav-open .ind .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
/*******/

/*******/


.nav-item-side {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item-side:first-of-type {
        padding-top: 1rem;
    }

    .nav-item-side:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item-side a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item-side a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item-side a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

    

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


@media (max-width: 767.98px) {
    .main .top-row-blank {
        display: none;
    }
    .main .top-row {
        top: 0px;
    }

    .top-rowx-blank {
        display: none;
    }

    .top-rowx {
        top: 50px;
    }

}


@media (min-width: 768px) {
  
    app {
        flex-direction: row;
    }

    .main .top-row-blank {
        display: block; /*always display whether the top bar hidden or not when large window*/
    }

    .top-rowx-blank {
        display: block; /*always display whether the top bar hidden or not when large window*/
    }

    /*

    .main .top-row-blank {
        position: sticky;
        top: 0;
        display: block;
 
    }
    .main .top-row {
        top: 0px;
        position: sticky;
        z-index: 199;
    }
    */

    .sidebar {
        /*
        background: black;
        */
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }
 
    .sidebar .collapse {
        display: block;
    }




}



